@font-face {
    font-family: 'Google Sans';
    src: url('../../assets/fonts/GoogleSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../../assets/fonts/GoogleSans-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../../assets/fonts/GoogleSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
}