$main-color: #4c31f2;
$seconday-color: #110561;
$color-3: #100c29;
$color-4: #160f42;
$color-5: #493ba8;

$border-inputcolor: rgba(17, 5, 97, 0.2);

$font-google-sans-family: "Google Sans";
$font-avenir-family: "Avenir";
